

html {
	background-color:#6673FF;
	height: 100%;
	font-family: Futura, 'Montserrat', sans-serif;
	font-size:14px;
}


body {
	height: 100%;
	padding:5%;
	background-color:#6673FF;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #181818;	
}


.header {
	text-align: left;
	font-size: 13px;
	color: #181818;
	
}

a {
	color: #625FF3;	
}

h1 {
	margin-top:50px;
	margin-bottom: 50px;
	font-size: 48px;
	color: #181818;
	font-weight: bold;
	line-height: 64px;
}

h3{
	margin-bottom:40px;
}

.actions {
	margin-top:12px;
	margin-bottom:12px;
}

.btn-primary{
	background-color:#6673FF;
	border:0;
}

.btn-default{
	border:0;
}

.btn-primary:hover{
	background-color:#6673FF;
	filter: brightness(0.8);
}

.btn-primary:focus{
	background-color:#6673FF;
	filter: brightness(0.8);
}

/* class */
.wrapper {
	z-index: 100;
	display: block; 
	height:100%;
	background-color: white;
	border-radius: 30px;
	margin:auto;

	padding-top: 5%;
	
	padding-left:10%;
	padding-right:10%;
	text-align: left;

	/* width:80%; */
	max-width: 1080px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	-moz-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 4px 0px rgba(98,95,243);
}

.row{
	height:100%;
}

#videos {
	position: absolute;
	display:none;
	width:100%;
	padding:2%;
	left:0;
	top:0;
	height: 100%;
}
 video {
	display:block;
	width: 50%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
  } 

#sketch {
	display:none;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}

canvas {
	position: absolute;
	top:0px;
	left: 0px;  
  }


.modal-content {
  padding:30px;
  border:0;
}

.modal-header{
	border:0;
}
.modal-footer{
	border:0;
}

.modal-body{
	border:0;
}

.form-control{
	height:45px;
}

#aim {
	display:none;
	position: absolute;
	width:80px;
	top:-webkit-calc(50% - 40px);
	left:-webkit-calc(25% - 40px);
	z-index: 999;
}

#hearts {
	display: none;
	position:absolute;
	top:6%
  }
  .container > div {
	flex: 1; /*grow*/
  }

#names {
	display:none;
	position: absolute;
	width: 160px;
	top:5%;
	padding:10px;
	/* background-color:white; */
	left:-webkit-calc(25% - 80px);
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background-color:#625FF3;
	border-radius: 100px;
	color: white;
	z-index: 998;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	-moz-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 4px 0px rgba(98,95,243);
}

#popup3{
	position: absolute;
	left:-webkit-calc(70%);
	overflow: auto;
	overflow-y: auto;
}