

html {
	background-color:#6673FF;
	height: 100%;
	font-family: Futura, 'Montserrat', sans-serif;
}



body {
	background-color: white;
	border-radius: 30px;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #181818;	
	height: 82%;

	-webkit-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	-moz-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 4px 0px rgba(98,95,243);
	
}

.wrapper {
	display: block; 
	margin-top: 50px; 
	margin-left: 90px; 
	text-align: left;
	position: absolute;
	width:80%;
	z-index: 2;
	max-width: 1280px;
}

.columns{
	display: grid;
    grid-template-columns: 1fr 500px;
	grid-gap: 0;
	overflow:hidden;
}

p {
	margin-top: 80px;
}

.header {
	text-align: left;
	font-size: 13px;
	color: #181818;
	
}

a {
	color: #181818;
	
	margin-right:30px
}

h1 {
	margin-top:60px;
	margin-bottom: 60px;
	font-size: 48px;
	color: #181818;
	font-weight: bold;
	line-height: 64px;
	z-index: 1;
	
}
.subheader{
	margin: 40px;
	font-size: 22px;
	color: #181818;
	line-height: 42px;
}
.actions {
	margin:12px;
}



 video {
	
	display:block;
	width: 50%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
  } 

#sketch {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}


#videos {
	display:flex;
	height: 100%;
}

input {
	width: 200px;
	height: 21px;
	font: inherit;	
	font-size: 12px;
	padding: 6px;
	padding-left: 12px;
	border: 2px solid #6673FF;
	border-radius: 4px;
	display: inline-block;
}

button {
	display:inline-block;
	/* padding:0.35em 1.2em; */
	
	width: 130px;
	height: 38px;
	font-size: 12px;
	border: 2px solid #6673FF;
  	border-radius: 4px;
	background-color:#6673FF;
	color: white;
	font-weight: bold;
}


button:hover {
	background-color: rgba(102, 115, 255, 0.9);
	color: white;
}

button.btn1 {
	width:358px;
	margin-bottom:20px;
	margin-top:20px;
	margin-left:10px;
	height:40px;
	background-color:white;
	color: #6673FF;
	border: 2px solid #6673FF;
	border-radius: 4px;
	font-size: 16px;
}

button.btn1:hover {
	background-color: #6673FF;
	color: white;
}

canvas {
  position: absolute;
  top:0px;
  left: 0px;  
  z-index: -2;
}