

html {
	background-color:#6673FF;
	height: 100%;
	font-family: Futura, 'Montserrat', sans-serif;
}


body {
	height: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #181818;	
}

.wrapper {
	background-color: white;
	border-radius: 30px;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;
	display: block; 
	padding-top: 6%;
	padding-bottom:6%;
	padding-left:10%;
	padding-right:10%;
	text-align: left;
	position: absolute;
	/* width:80%; */
	max-width: 1280px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	-moz-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.56);
	box-shadow: 0px 0px 4px 0px rgba(98,95,243);
}

.columns{
	display: grid;
    grid-template-columns: 1fr 500px;
	grid-gap: 0;
	overflow:hidden;
}


.header {
	text-align: left;
	font-size: 13px;
	color: #181818;
	
}

a {
	color: #181818;	
	margin-right:30px
}

h1 {
	margin-top:50px;
	margin-bottom: 50px;
	font-size: 48px;
	color: #181818;
	font-weight: bold;
	line-height: 64px;
}

h3{
	margin-bottom:40px;
}

.actions {
	margin-top:12px;
	margin-bottom:12px;
}


 video {
	display:block;
	width: 50%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
  } 

#sketch {
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
}

canvas {
	position: absolute;
	top:0px;
	left: 0px;  
	/* z-index: -2; */
  }

#videos {
	display:flex;
	height: 100%;
}


#Modal2{
	display:none;
}

#Modal3{
	display:none;
}

#Modal4{
	display:none;
}

/* .bgmodal {
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	display:flex;
	justify-content: center;
	align-items:center;
	display:none;
} */


/* .modal-content{
	width:500px;
	height:240px;
	background-color:white;
	border-radius:8px;
	padding:60px;
	position:relative;
} */

/* .close{
	position: absolute;
	top:0; 
	right:14px;
	font-size:40px;
	transform:rotate(45deg);
	cursor:pointer;
} */

/* input {
	width: 50%;
	height: 26px;
	font: inherit;	
	font-size: 12px;
	padding: 6px;
	padding-left: 12px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	display: inline-block;
} */

/* button {
	display:inline-block;
	padding:0.35em 1.2em;
	width: 130px;
	margin-bottom:20px;
	margin-top:20px;
	height:40px;
	background-color:white;
	color: #6673FF;
	border: 2px solid #6673FF;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
}


button:hover {
	background-color: rgba(102, 115, 255, 0.9);
	color: white;
}

button.btn1 {
	width:180px;
	margin-bottom:20px;
	margin-top:20px;
	height:50px;
	background-color:white;
	color: #6673FF;
	border: 2px solid #6673FF;
	border-radius: 4px;
	font-size: 16px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.3);
	-moz-box-shadow: 0px 0px 12px 0px rgba(98,95,243,0.3);
	box-shadow: 0px 0px 15px 0px rgba(98,95,243,0.3);
	box-shadow: 0px 0px 4px 0px rgba(98,95,243,0.8);
}

button.btn2 {
	width:180px;

	margin-top:60px;
	height:40px;
	background-color:white;
	color: #6673FF;
	border-radius: 30px;
	border: white;
	font-size: 16px;
}

button.btn1:hover {
	background-color: #6673FF;
	color: white;
} */